/* Variables */
:root {
    /* Colours by GlueStudio */
    --background_color: #F5D9A3;
    --terra_terra: rgb(232, 221, 203);
    --terra: rgb(205, 179, 128);
    --acqua: rgb(3, 101, 100);
    --acqua_profonda: rgb(3, 54, 73);
    --abisso: rgb(3, 22, 52);
}

*{
    scroll-behavior: smooth;
}

/* =============================== */
/*        SITE-WIDE STYLES         */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: var(--background_color);

}
body > :not(header):not(footer) {
    margin: 0 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
iframe {
    border: 0;
}

/* HEADER - START */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--abisso);
}

.logo {
    color: var(--terra_terra);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 25px;
}

.logo a {
    text-decoration: none;
    color: var(--terra_terra);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
    padding-right: 5px;
}

.nav-links a {
    color: var(--terra_terra);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    z-index: 10;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--terra_terra);
    margin: 5px;
    border-radius: 3px;
}



/* HEADER - END */

/* TITLE - START */
.title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin: 80px;
    color: var(--abisso);
}
/* TITLE - END */


/* FOOTER - START */
footer {
    background-color: var(--abisso);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    color: white;
    font-weight: 600;
}

.socials {
    display: flex;
}

.icons {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.icons img {
    width: 100%;
}
/* FOOTER - END */



/* =============================== */
/*        INDEX.HTML STYLES        */

/* SHOWCASE - START */
.showcase {
    text-align: center;
}
/*
.showcase img {
    height: 300px;
    width: 300px;
}
 */

.videosrc {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* SHOWCASE - END */


/* PROMOTIONS - START */
.promotions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.promotions-container div {
    margin: 10px 20px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 600px;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.spotify-playlist {
    max-width: 30%;
    margin: 0 5px;
}

.spotify-playlist iframe {
    border-radius: 10px;
}
/* PROMOTIONS - END */


/* SHOW TABLE - START */
.shows {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Tables */
.shows-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px black;
}

.shows-table thead tr {
    background-color: var(--acqua);
    color: white;
    text-align: left;
    font-weight: 600;
}

.shows-table th,
.shows-table td {
    padding: 20px 25px;
}

.shows-table tbody tr {
    border-bottom: 1px solid white;
    background-color: white;
}

.shows-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.shows-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--acqua);
}

/* If want to do highlighting specific row
.shows-table tbody tr.active-row {
    font-weight: 600;
    color: var(--acqua);
}
*/

#booking {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin: 10px;

}

#booking a {
    text-decoration: none;
    color: var(--acqua);
}
/* SHOW TABLE - END */



/* =============================== */
/*        BAND.HTML STYLES        */

/* ABOUT - START */
.about-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.about-flextext {
    margin: 10px;
}

.about-fleximg {
    margin: 10px;
}
/* ABOUT - END */


/* MEMBERS - START */
.members-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.member-info {
    width: 200px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.member-image {
    width: 100%;
    border-radius: 50%;
}

.member-name {
    font-weight: 600;
}

.member-icon {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.member-icon img {
    height: 20px;
    width: 20px;
}
/* MEMBERS - END */

/* =============================== */
/*        BAND.HTML STYLES        */

/* FORM - START */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit] {
    background-color: var(--acqua);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* FORM - END */

.merch-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.merch-item {
    height: 450px;
    max-width: 250px;
    margin: 30px;

}

.merch-image {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0 0 20px black;
}


@media screen and (max-width: 1280px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    body > :not(header):not(footer) {
        margin: 0 10px;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 6vh;
        background-color: var(--abisso);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .videosrc {
        max-width: 100%;
    }
    /*
    .member-info {
        flex: 40%;
    }
     */
    .nav-active {
        transform: translateX(0%);
    }
}
