/* Variables */
:root {
    /* Colours by GlueStudio */
    --background_color: #F5D9A3;
    --terra_terra: rgb(232, 221, 203);
    --terra: rgb(205, 179, 128);
    --acqua: rgb(3, 101, 100);
    --acqua_profonda: rgb(3, 54, 73);
    --abisso: rgb(3, 22, 52);
}

/* Page-wide styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer {
    background-color: var(--abisso);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright {
    color: white;
    font-weight: 600;
}

.socials {
    display: flex;
}

.icons {
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 5px;
}

.icons img {
    width: 100%;
}